{% extends 'base.html' %}
{% load static %}

{% block title %}
About Us
{% endblock %}


{% block content %}
<div id="about" class="section wb mt-auto" style="margin: 0">
    <div class="container" style="margin-top: 100px">
        <div class="row">
            <div class="col-md-6">
                <div class="message-box">
                    <h2>Welcome to OnNext</h2>
                    <p> Integer rutrum ligula eu dignissim laoreet. Pellentesque venenatis nibh sed tellus faucibus
                        bibendum. Sed fermentum est vitae rhoncus molestie. Cum sociis natoque penatibus et magnis
                        dis
                        parturient montes, nascetur ridiculus mus. Sed vitae rutrum neque. Ut id erat sit amet
                        libero
                        bibendum aliquam. Donec ac egestas libero, eu bibendum risus. Phasellus et congue
                        justo. </p>
                    <p>Sed vitae rutrum neque. Ut id erat sit amet libero bibendum aliquam. Donec ac egestas libero,
                        eu
                        bibendum risus. Phasellus et congue justo.</p>

                    <a href="#" class="sim-btn hvr-bounce-to-top"><span>Contact Us</span></a>
                </div><!-- end messagebox -->
            </div><!-- end col -->

            <div class="col-md-6">
                <div class="right-box-pro wow fadeIn">
                    <img src="{% static '/uploads/about_04.jpg' %}" alt="" class="img-fluid img-rounded">
                </div><!-- end media -->
            </div><!-- end col -->
        </div><!-- end row -->
        <div class="row"  style="margin-top: 100px">
            <div class="col-md-6">
                <div class="message-box">
                    <h2>Welcome to OnNext</h2>
                    <p> Integer rutrum ligula eu dignissim laoreet. Pellentesque venenatis nibh sed tellus faucibus
                        bibendum. Sed fermentum est vitae rhoncus molestie. Cum sociis natoque penatibus et magnis
                        dis
                        parturient montes, nascetur ridiculus mus. Sed vitae rutrum neque. Ut id erat sit amet
                        libero
                        bibendum aliquam. Donec ac egestas libero, eu bibendum risus. Phasellus et congue
                        justo. </p>
                    <p>Sed vitae rutrum neque. Ut id erat sit amet libero bibendum aliquam. Donec ac egestas libero,
                        eu
                        bibendum risus. Phasellus et congue justo.</p>

                    <a href="#" class="sim-btn hvr-bounce-to-top"><span>Contact Us</span></a>
                </div><!-- end messagebox -->
            </div><!-- end col -->

            <div class="col-md-6">
                <div class="left-box-pro wow fadeIn">
                    <img src="{% static '/uploads/about_04.jpg' %}" alt="" class="img-fluid img-rounded">
                </div><!-- end media -->
            </div><!-- end col -->
        </div><!-- end row -->

        <div class="row"  style="margin-top: 100px">
            <div class="col-md-6">
                <div class="message-box">
                    <h2>Welcome to OnNext</h2>
                    <p> Integer rutrum ligula eu dignissim laoreet. Pellentesque venenatis nibh sed tellus faucibus
                        bibendum. Sed fermentum est vitae rhoncus molestie. Cum sociis natoque penatibus et magnis
                        dis
                        parturient montes, nascetur ridiculus mus. Sed vitae rutrum neque. Ut id erat sit amet
                        libero
                        bibendum aliquam. Donec ac egestas libero, eu bibendum risus. Phasellus et congue
                        justo. </p>
                    <p>Sed vitae rutrum neque. Ut id erat sit amet libero bibendum aliquam. Donec ac egestas libero,
                        eu
                        bibendum risus. Phasellus et congue justo.</p>

                    <a href="#" class="sim-btn hvr-bounce-to-top"><span>Contact Us</span></a>
                </div><!-- end messagebox -->
            </div><!-- end col -->

            <div class="col-md-6">
                <div class="right-box-pro wow fadeIn">
                    <img src="{% static '/uploads/about_04.jpg' %}" alt="" class="img-fluid img-rounded">
                </div><!-- end media -->
            </div><!-- end col -->
        </div><!-- end row -->

    </div><!-- end container -->
</div><!-- end section -->

<div id="team" class="section wb">
    <div class="container">
        <div class="section-title text-center">
            <h3>Our Team</h3>
            <p>Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus.</p>
        </div><!-- end title -->

        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="{% static 'uploads/img-2.jpg' %}">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Kristiana</h3>
                        <span class="post">Web Designer</span>
                        <ul class="social">
                            <li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-google-plus"></a></li>
                            <li><a href="#" class="fa fa-skype"></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="{% static 'uploads/img-4.jpg' %}">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Miranda joy</h3>
                        <span class="post">Web Designer</span>
                        <ul class="social">
                            <li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-google-plus"></a></li>
                            <li><a href="#" class="fa fa-skype"></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="{% static 'uploads/img-1.jpg' %}">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Williamson</h3>
                        <span class="post">Web Developer</span>
                        <ul class="social">
                            <li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-google-plus"></a></li>
                            <li><a href="#" class="fa fa-skype"></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="{% static 'uploads/img-3.jpg' %}">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Steve Thomas</h3>
                        <span class="post">Web Developer</span>
                        <ul class="social">
                            <li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-google-plus"></a></li>
                            <li><a href="#" class="fa fa-skype"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}